body {
  background-image: linear-gradient(
    to right,
    rgb(136, 131, 136),
    rgb(224, 224, 220)
  );
  margin: 1rem;
  font-size: 1.2rem;
}

p {
  color: red;
  font-weight: 700;
}
.perimeter,
.area {
  color: black;
}
#radius {
  height: 2rem;
  width: 15rem;
}
#btn {
  font-size: 1.5rem;
  width: 7rem;
}
